.content__middle {
    display: flex;
}

.pagination__list {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination__item {
    display: inline-block;
}

.pagination__item a {
    text-decoration: none;
}

.contact-table__row:hover {
    background-color: #f5f5f5;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}

.modal:target {
    display: flex;
}

.modal__content {
    background: #fff;
    padding: 20px;
    border: 1px solid #dedbd8;
    width: 50%;
    height: 80%;
}

.modal__close {
    display: flex;
    justify-content: right;
}

.modal__close-button{
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid #dedbd8;
    border-radius: 50%;
    text-decoration: none;
}

.modal__close-icon {
    font-size: 20px;
    transform: translateY(-2px);
}

.modal-table__row {
    display: flex;
    width: 80%;
    margin-bottom: 10px;
}

.modal-table__header{
    width:30%;
    text-align: left;
}

.modal-table__data {
    width:70%;
    text-align: left;
}

.delete-form{
    display: flex;
    justify-content: center;
}

.delete-form__button-submit{

}

