.content__middle {
    display: flex;
}

.pagination__list {
    display: flex;
    gap: 8px;
    /* 数字の間隔 */
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination__item {
    display: inline-block;
}

.pagination__item a {
    text-decoration: none;
}