.admin__content {
    width: 70%;
    margin: auto;
}

.admin__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8d7b6a;
    height: 60px;
    font-size: 24px;
    transform: translateY(10%);
}

.search-form__item {
    display: flex;
    justify-content: space-between;
}

.search-form__item-input--text{
    width: 25%;

}


.search-form__item input,
.search-form__item select {
    height: 40px;
    padding: 0 15px;
    border: 1px solid #e5e5e5;
    color: #827469;
}

::placeholder {
    color: #c0b5ad;
}

.search-form__button-submit {
    background: #827469;
    color: #fff;
    border: none;
    height: 40px;
    padding: 0 20px;
}

.search-form__button-reset {
    background: #d8cfc8;
    color: #fff;
    border: none;
    height: 40px;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.content__middle{
    display: flex;
    justify-content: space-between;
}

.export__button {
    margin: 20px 0;
}

.export__button a {
    display: inline-block;
    padding: 6px 16px;
    border: 1px solid #e5e5e5;
    color: #827469;
    text-decoration: none;
    font-size: 14px;
}



.pagination__list {
    display: flex;
    font-size: 14px;
    padding: 0;
    margin: 20px 0;
}


.pagination__item a,
.pagination__item{
    display: inline-block;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #827469;
    text-decoration: none;
}

.pagination .page-item {
    margin-left: 8px;
}

.pagination .page-link {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #e5e5e5;
    color: #827469;
    text-decoration: none;
    font-size: 14px;
}

.pagination__item.active {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #827469;
    background: #827469;
    color: #fff;
}

.contact-table{
    width: 100%;
}

.contact-table__inner {
    width: 100%;
}

.contact-table__row  th{
    font-weight: normal;
    background-color: #827469;
    text-align: left;
    padding: 10px 20px;
    color: #e5e5e5;
}

.contact-table__row td {
    border-bottom: 1px solid #e5e5e5;
    color: #827469;
    padding: 10px 20px;
}

.detail-button {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #e5e5e5;
    color: #827469;
    text-decoration: none;
    font-size: 14px;
}

.contact-table__row:hover {
    background-color: #f5f5f5;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}

.modal:target {
    display: flex;
}

.modal__content {
    background: #fff;
    padding: 20px;
    border: 1px solid #dedbd8;
    width: 50%;
    height: 80%;
}

.modal__close {
    display: flex;
    justify-content: right;
}

.modal__close-button{
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid #dedbd8;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
}

.modal__close-icon {
    font-size: 20px;
    transform: translateY(-2px);
}

.modal-table__row {
    display: flex;
    width: 80%;
    margin: 20px auto;
}

.modal-table__header{
    width:30%;
    text-align: left;
}

.modal-table__data {
    width:70%;
    text-align: left;
}

.delete-form{
    display: flex;
    justify-content: center;
}

.delete-form__button-submit{
    padding: 4px 12px;
    font-size: 14px;
    background-color: #ba360e;
    color: #fff;
    border: none;
}