.header {
    background: #ffffff;
}

.header__inner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    border-bottom: #f4f4f4 1px solid;
}

.header__logo {
    color: #8d7b6a;
    text-decoration: none;
    font-size: 30px;
}

body {
    font-family: "Times New Roman", serif;
}

.header__nav{
    padding: 1px 12px;
    background-color: #827469;
    color: #fff;
    border: none;
    cursor: pointer;
}