.header {
    background: #ffffff;
}

.header__inner {
    position: relative;
    height: 70px;
    border-bottom: #f4f4f4 1px solid;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 70px;
    color: #8d7b6a;
    text-decoration: none;
    font-size: 30px;
}

body {
    font-family: "Times New Roman", serif;
}

.header__nav {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.header__nav--list {
    display: flex;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav--item a {
    display: inline-block;
    padding: 6px 18px;
    background-color: #f6f6f6;
    color: #e1d2c6;
    border: #e1d2c6 1px solid;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;
}

.form__logout--button {
    padding: 6px 18px;
    background-color: #f6f6f6;
    color: #e1d2c6;
    border: #e1d2c6 1px solid;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}