

.contact-form__content {
    width: 55%;
    margin: auto;
}

.contact-form__heading {
    display: flex;
    justify-content: center;
    align-items: center;

    height:100px;
    font-size: 24px;
}

.form {
    width: 100%;
}

p,
.form__label--item,
.form__input--radio label {
    color: #827469;
}

.form__group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.form__group-title {

    width: 40%;
}

.form__label--item {
    font-size: 14px;
}

.form__label--required {
    color: red;
}

.form__group-content {
    width: 60%;

}

input,
select,
textarea{
    border: none;
    background-color: #f4f4f4;
}

.form__input--text,
.form__input--email,
.form__input--tel,
.form__input--select,
.form__input--textarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input--text-name {
    width: 46%;
    height: 24px;
}

.form__input--radio label {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 8%;
}

.form__input--email input,
.form__input--text-address,
.form__input--text-building{
    width:100%;
    height: 24px;
}

.form__input--tel input {
    width: 26%;
    height: 24px;
}

.form__input--select{
    width: 50%;
    height: 24px;
}

.form__input--textarea textarea {
    height: 120px;
    width: 100%;
}

.form__error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.form__button {
    text-align: center;
    margin-top: 40px;
}

.form__button--submit {
    padding: 12px 40px;
    background-color: #827469;
    color: #fff;
    border: none;
    cursor: pointer;
}

