.login__content {
    height: 100vh;
    background-color: #f1ece6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__heading {

    color: #8d7b6a;
    line-height: 70px;
    font-size: 24px;
}

.login-form {
    background: #fff;
    width: 40%;
    height: 60%;
    border: #e5e5e5 1px solid;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form__group{
    width: 50%;
    height: 20%;
    margin-top: 10px;
}

.login-form__label--item {
    color: #8d7b6a;
    font-size: 18px;
}

.login-form__group--content input {
    width: 100%;
    height: 36px;
    background: #f5f5f5;
    border: none;
    padding: 0 10px;
    margin-top: 6px;
}

.login-form__error {
    font-size: 12px;
    color: #d9534f;
    margin-top: 4px;
}

.login-form__button {
    text-align: center;
    margin-top: 40px;
}

.login-form__button--submit {
    background: #827469;
    color: #fff;
    border: none;
    padding: 8px 30px;
    cursor: pointer;
}